<!--user sign in form--> 
{% extends "boiler_plate.html" %}
{% block content %}

<form>
    <label>User Name    <!--Username-->
        <input type="text" name="user_name">      
    </label>

    <label>Password <!--password-->
        <input type="password" name="password">    
    </label>

    <label>Verify Password <!--verify password-->
        <input type="password" name="verify_password">        
    </label>

    <label>Email (optional)<!--email-->
        <input type="text" name="email">    
    </label>
    <input type="submit" value="Submit">
</form>

{% endblock %}